
{% extends 'base.html' %}
{% block content %}
    <h1> Add an Employee </h1>
    <hr>
    <form action="/add_emp" method="post">
      {% csrf_token%}
      <label for="first_name"> First name </label><br>
      <input class="form-control" placeholder="Enter first name" type="text" id="first_name" name="first_name">
      <label for="last_name"> Last name </label><br>
      <input class="form-control" placeholder="Enter last name" type="text" id="last_name" name="last_name"><br>
      <label for="salary"> Salary </label><br>
      <input class="form-control" placeholder="Salary" type="text" id="salary" name="salary"><br>
      <label for="role"> Role </label><br>
      <select class="form-control" id="role" name="role">
        {% for r in roles %}
        <option value="{{ r.id }}">{{ r.name }}</option>
        {% endfor %}
      </select><br>

      <label for="phone"> Phone </label><br>
      <input class="form-control" placeholder="Enter phone" type="text" id="phone" name="phone"><br>
      <label for="bonus">Bonus</label><br>
      <input class="form-control" placeholder="Enter bonus" type="text" id="bonus" name="bonus"><br>
      <label for="dept">Department</label><br>
      <select class="form-control" id="dept" name="dept">
        {% for d in depts %}
        <option value="{{ d.id }}">{{ d.name }}</option>
        {% endfor %}
      </select><br>
      
      <label for="hire_date">hire_date</label><br>
      <input class="form-control" placeholder="Enter hire_date" type="text" id="hire_date" name="hire_date">
      <hr>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

 {% endblock %}