<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> add_emp </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <h1> Add an Employee </h1>
    <hr>
    <form action="/add_emp" method="post">
      {% csrf_token%}
      <label for="first_name"> First name </label><br>
      <input placeholder="Enter first name" type="text" id="first_name" name="first_name"><br>
      <label for="last_name"> Last name </label><br>
      <input placeholder="Enter last name" type="text" id="last_name" name="last_name"><br>
      <label for="salary"> Salary </label><br>
      <input placeholder="Salary" type="text" id="salary" name="salary"><br>
      <label for="role"> Role </label><br>
      <select id="role" name="role">
        {% for r in roles %}
        <option value="{{ r.id }}">{{ r.name }}</option>
        {% endfor %}
      </select><br>

      <label for="phone"> Phone </label><br>
      <input placeholder="Enter phone" type="text" id="phone" name="phone"><br>
      <label for="bonus">Bonus</label><br>
      <input placeholder="Enter bonus" type="text" id="bonus" name="bonus"><br>
      <label for="dept">Department</label><br>
      <select id="dept" name="dept">
        {% for d in depts %}
        <option value="{{ d.id }}">{{ d.name }}</option>
        {% endfor %}
      </select><br>
      
      <label for="hire_date">hire_date</label><br>
      <input placeholder="Enter hire_date" type="text" id="hire_date" name="hire_date">
      <hr>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
</body>

</html>