{% extends 'base.html' %}
{% block content %}
        <h1>Filter Employees</h1>
 <hr>
    <form action="/filter_emp" method="post">
      {% csrf_token%}
      <label for="first_name">Employee First name/Last name </label><br>
      <input class="form-control" placeholder="Enter first name" type="text" id="name" name="name"><br>
       
      <label for="role"> Role </label><br>
      <input class="form-control" placeholder="Enter role" type="text" id="role" name="role"><br>
     
      <label for="dept">Department</label><br>
      <input class="form-control" placeholder="Enter department" type="text" id="dept" name="dept"><br>
    
      <hr>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
        
    {% endblock %}
