
{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center mb-4">Remove An Employee</h1>
    
    <div class="card shadow-sm mx-auto" style="max-width: 500px;">
  <div class="card-body text-center">
    <p class="text-muted">Choose the employee you want to remove.</p>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        Remove An Employee
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        {% for emp in emps %}
        <li><a class="dropdown-item" href="/remove_emp/{{ emp.id }}">{{ emp.first_name }} {{ emp.last_name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>


{% endblock %}

  